html{
  background: url(assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    text-align: center;
    margin: 0;
}

.parent{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  overflow: auto;
  padding-bottom: 5px;
  overflow-x: hidden;

}

#content{
  width: 1016px;
  height: 600px;
  border: 52px solid transparent;
  border-image: url(assets/frame.png) 44 stretch;
}

.game img{
    width: 300px;
    margin-bottom: 5px;
}