html{
  background: url(assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    text-align: center;
    margin: 0;
    
}

.parent{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  resize: both;
  overflow: auto;
  padding-bottom: 5px;
}

#content{
  border: 5px solid #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game img{
    width: 300px;
    margin-bottom: 5px;
}